.components-index-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;

  .main {
    padding: 0 1em;
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
  }
}
