@import "../../styles/variables";

$menu-transition-start-top: 5px;
$menu-transition-end-top: 25px;
$menu-transition-timing: 500ms;

.components-header {
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
  backface-visibility: hidden;
  background: #fff;
  border-bottom: 1px solid #e1e1e1;
  transition: background-color 0.3s ease;
  width: 100%;
  height: 55px;
  flex-shrink: 0;

  .header-navs {
    margin-left: 1em !important;
    margin-right: 1em !important;
  }

  .header__logo {
    z-index: 2;
    margin: 0 !important;
  }

  .td-css-icon-cross {
    height: 1.5rem;
    width: 1.5rem;
    transition: color 0.2s ease, transform 0.3s ease,
      -webkit-transform 0.3s ease;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    -webkit-box-flex: 0;
    flex: none;
    position: relative;
    color: $app-color;

    &::before {
      border-top: 2px solid;
      transition: inherit;
      transform: translateY(3px);
      content: "";
      display: block;
      width: 100%;
    }
  }

  .td-css-icon-cross__y {
    transition: inherit;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: $app-color;

    &::before {
      border-right: 2px solid;
      transform: rotate(90deg) translateX(-3px);
      transition: inherit;
      content: "";
      display: block;
      height: 100%;
    }
  }

  .header__menu-toggle {
    border-radius: 50px !important;
    padding: 9px 8px !important;
    margin: 0 !important;
    transition: background-color 0.25s ease !important;
    z-index: 2;

    &:hover {
      background-color: #f7f7f7 !important;
    }
  }

  .header__menu-toggle--is-open {
    .td-css-icon-cross {
      &::before {
        transform: rotate(45deg);
      }
    }

    .td-css-icon-cross__y {
      &::before {
        transform: rotate(45deg);
      }
    }
  }

  .header__menu {
    width: 100% !important;
    position: absolute;
    top: $menu-transition-end-top;
    border: none;
    border-radius: 0;
    box-shadow: none !important;
    overflow: hidden;
    padding: 1em;
    margin: 0 !important;
    z-index: 1;
    border: none !important;

    &.enter {
      top: $menu-transition-start-top;
      opacity: 0;
    }

    &.enter-active {
      top: $menu-transition-end-top;
      opacity: 1;
      transition: all $menu-transition-timing;
    }

    &.exit {
      opacity: 1;
      top: $menu-transition-end-top;
    }

    &.exit-active {
      top: $menu-transition-start-top;
      opacity: 0;
      transition: all $menu-transition-timing;
    }
  }

  .header__menu-item {
    border-radius: 0 !important;
    padding-left: 0 !important;

    &:last-child {
      &::after {
        position: absolute;
        content: "";
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 1px;
        background: rgba(34, 36, 38, 0.1);
        right: 0px;
      }
    }
  }

  .header__menu-item--sign-up-link {
    display: block;
    margin-right: -1em;
  }
}
