@import "../../styles/variables";

.components-login {
  @extend %auth-component;

  .label {
    display: flex;
    justify-content: space-between;
    margin: 0em 0em 0.28571429rem 0em;
    color: rgba(0, 0, 0, 0.87);
    font-size: 0.92857143em;
    font-weight: bold;
    text-transform: none;
  }

  .forgot-password {
    font-style: italic;
  }
}
